<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats of all action -->
        <div class="row">
            <div class="col-xl-3 col-lg-6">
            </div>
          <!-- User Card -->
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col" >
                    <h5 class="card-title text-uppercase text-muted mb-0">Users</h5>
                    <span class="h2 font-weight-bold mb-0">{{userslength}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-default text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- user card end -->
          <div class="col-xl-3 col-lg-6">
        </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">USERS DATA</h3>
                </div>
              </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Profile Image</th>
                  <th scope="col">User Name</th>
                  <th scope="col">User Type</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of allUsers">
                  <td>
                    <div class="avatar-group">
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" >
                        <img alt="Image placeholder" *ngIf="user.profile.profile_image !== null" src="{{user.profile.profile_image}}" class="rounded-circle">
                        <img alt="Image placeholder"*ngIf="user.profile.profile_image === null" src="assets/img/default-avatar.png" class="rounded-circle">
                      </a>
                    </div></td>
                  <td>{{user.fullname}}</td>
                  <td>{{user.user_type}}</td>
                  <td>
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" (click) = "delete(user?.id)">Delete</a>
                        <a *ngIf="user?.user_type !== 'ADMIN' || user?.user_type ==='CP'" class="dropdown-item" (click) = "updateRole(user?.id)">Make Admin</a>
                        <a *ngIf="user?.user_config.is_activated === 'NO'" class="dropdown-item" (click) = "activate(user?.id)">Activate User</a>
                        <a *ngIf="user?.user_config.is_activated === 'YES'" class="dropdown-item" (click) = "deactivate(user?.id)">De Activate User</a>
                      </div>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- add judge to competion form -->
<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Select Competition to make Judge</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="makeJudgeForm">
      <hr class="my-4" />
            <!-- Competitions -->
            <h6 class="heading-small text-muted mb-4">Select Competition</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-judge-1">Competition </label>
                    <select [(value)]="selected" id="input-judge-1" class="form-control form-control-alternative"formControlName="competition_name">
                      <option>None</option>
                      <option value="option1">Competition 1</option>
                      <option value="option2">Competition 2</option>
                      <option value="option3">Competition 3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-default" (click) = "makeJudge()">Make Judge</button>
  </div>

</ng-template>
<!-- add competitior to competition -->
<ng-template #addcomp let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Select Competition to add User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="makeCompetitorForm">
      <hr class="my-4" />
            <!-- competition -->
            <h6 class="heading-small text-muted mb-4">Select Competition</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-judge-1">select Competition</label>
                    <select [(value)]="selected" id="input-judge-1" class="form-control form-control-alternative"formControlName="competition_name">
                      <option>None</option>
                      <option value="option1">Competition 1</option>
                      <option value="option2">Competition 2</option>
                      <option value="option3">Competition 3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-default" (click) = "makeCompetitor()">Add to Competition</button>
  </div>

</ng-template>