<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats of all action -->
        <div class="row">
            <div class="col-xl-3 col-lg-6">
            </div>
          <!-- User Card -->
          <div class="col-xl-6 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Competitors</h5>
                    <span class="h2 font-weight-bold mb-0"></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-default text-white rounded-circle shadow">
                      <i class="ni ni-paper-diploma"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- user card end -->
          <div class="col-xl-3 col-lg-6">
        </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Competitors</h3>
                </div>
                <!-- <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Add Competitor</a>
                </div> -->
              </div>
          </div>
          <div  class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr >
                  <th></th>
                  <th scope="col">Competitor Name</th>
                  <th scope="col">USER TYPE</th>
                  <th scope="col">Competition</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody *ngFor="let compet of competition">
                <tr *ngFor="let part of compet?.participants" >
                  <td>
                    <div class="avatar-group">
                      <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" >
                        <img alt="Image placeholder" *ngIf="part?.user.profile.profile_image !== null" src="{{part?.user.profile.profile_image}}" class="rounded-circle">
                        <img alt="Image placeholder"*ngIf="part?.user.profile.profile_image === null" src="assets/img/default-avatar.png" class="rounded-circle">
                      </a>
                    </div>
                  </td>
                  <td>{{part?.user.fullname}}</td>
                  <td>{{part?.user.user_type}}</td>
                  <td>{{compet?.title}}</td>
                  <!-- <td>
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" (click) = "delete(user.id)">Delete</a>
                        
                      </div>
                    </div>
                  </td> -->
                </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>