
<ngx-spinner style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;" bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#ffffff" type="ball-clip-rotate-pulse">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
    <span class="mask bg-gradient-default opacity-8"></span>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <h3 class="mb-0">My account</h3>
                        <button type="button" class="btn btn-default" (click)="editUser()">Update</button>
                    </div>
                </div>
                
                <!-- <div class="row justify-content-center">
                    <form [formGroup]="profileEditForm">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <img *ngIf="profile.profile_image !==null" src="{{profile.profile_image}}" class="avatar" >
                            <img *ngIf="profile.profile_image ===null"src="assets/img/default-avatar.png" class="avatar" >
                            <br/><br/><br/><br/><br/><br/>
                            <input type='file' formControlName="file_name" (change)="onSelectFile($event)">
                        </div>
                    </div>
                    </form>
                </div> -->
                
                <div class="card-body pt-0 pt-md-4">
                    <form [formGroup]="profileEditForm">
                        <h6 class="heading-small text-muted mb-4">information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Full name</label>
                                        <input type="text" id="input-first-name"
                                            class="form-control" placeholder="fullname"
                                            formControlName="fullname">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Title</label>
                                        <input type="text" id="input-first-name"
                                            class="form-control" placeholder="Title"
                                            formControlName="title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Username</label>
                                        <input type="text" id="input-username"
                                            class="form-control form-control-alternative" placeholder="Username"
                                            formControlName="username">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input type="email" id="input-email"
                                            class="form-control form-control-alternative"
                                            placeholder="jesse@example.com" value="{{user?.email}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contact information</h6>
                        <div class="pl-lg-4">

                            <div class="row">
                                
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-phone">Phone Number</label>
                                        <input type="text" id="input-phone"
                                            class="form-control form-control-alternative" placeholder="Phone Number" formControlName="phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Description -->
                        <h6 class="heading-small text-muted mb-4">About me</h6>
                        <div class="pl-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">About Me</label>
                                <textarea rows="4" class="form-control form-control-alternative"
                                    placeholder="A few words about you ..." formControlName="personal_message"></textarea>
                            </div>
                        </div>
                    </form>
                    <div class="d-flex justify-content-right">
                    <button type="button" class="btn btn-default" (click)="editUser()">Update</button>
                </div>
                </div>

            </div>
        </div>

    </div>
</div>