.like{
    padding-left: 0.2cm;
    padding-top: 0.3cm;
}
.pa-move{
    padding-left: 1cm;
    /* padding-right: 9cm; */
    /* padding-top: 0.7cm; */
  }
  .avs {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 60%;
  }