<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats of all action -->
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                </div>
                <!-- User Card -->
                <div class="col-xl-6 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Posts</h5>
                                    <span class="h2 font-weight-bold mb-0">{{postlength}}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- user card end -->
                <div class="col-xl-3 col-lg-6">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">POSTS</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th scope="col">Post</th>
                                <th scope="col">Name of Poster</th>
                                <th scope="col">Post Caption</th>
                                <th scope="col">Number of likes</th>
                                <th scope="col">Number of Comments</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of allPosts">
                                <td>
                                    <div class="avatar-group">
                                        <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip">
                                            <img alt="Image placeholder"
                                                *ngIf="post?.user.profile.profile_image !== null"
                                                src="{{post?.user.profile.profile_image}}" class="rounded-circle">
                                            <img alt="Image placeholder"
                                                *ngIf="post?.user.profile.profile_image === null"
                                                src="assets/img/default-avatar.png" class="rounded-circle">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div >
                                        <a href="javascript:void(0)" class="avatar" data-toggle="tooltip">
                                            <img *ngIf="post?.file_type === 'IMAGE'" class="img-fluid z-depth-1"
                                                src="{{post?.file_url}}" alt="video">
                                            <video *ngIf="post?.file_type === 'VIDEO'"  class="img-fluid z-depth-1">
                                                <source src="{{post?.file_url}}" alt="video">
                                            </video>
                                        </a>
                                    </div>
                                </td>
                                <td>{{post.user.fullname}} </td>
                                <td>{{post.caption}}</td>
                                <td>
                                    {{post?.likes.length || '0'}}
                                    <!-- <div class="avatar-group">

                                        <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                            <img alt="Image placeholder" src="{{post?.likes.user.profile.profile_image}}" class="rounded-circle">
                                          </a>
                                    </div> -->
                                </td>
                                <td> {{post?.comments.length || '0'}}</td>
                                <td>
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" (click)="delete(post.id)">Delete</a>
                                            <a class="dropdown-item" (click)="openScrollableContent(singlepost);view(post?.id)">View</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">2 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #singlepost let-modal>
    <div *ngFor="let pos of Posts">
    <div class="modal-header">
        <a href="javascript:void(0)" class="avatar avatar-sm">
            <img alt="Image placeholder"
                *ngIf="pos?.user.profile.profile_image !== null"
                src="{{pos?.user.profile.profile_image}}" class="rounded-circle">
            <img alt="Image placeholder"
                *ngIf="pos?.user.profile.profile_image === null"
                src="assets/img/default-avatar.png" class="rounded-circle">
        </a>&nbsp;&nbsp;      
        <h5 class="modal-title">{{pos?.user.fullname}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <a><img *ngIf="pos?.file_type === 'IMAGE'"  src="{{pos.file_url}}"
                        alt="video" width="300" height="400" style="margin-left: 30%;"></a>
                <a><video *ngIf="pos?.file_type === 'VIDEO'" width="600" height="400" style="margin-left: 10%;" controls>
                        <source src="{{pos.file_url}}" type="video/mp4">
                    </video></a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 like pa-move">
                <span >
                    <img src="assets/img/44.png"  alt="" height="30">
                </span>&nbsp;
                <b>{{pos?.likes.length || '0'}}</b>&nbsp;&nbsp;
                <img src="assets/img/42.png" alt="" height="30">&nbsp;
                <b>{{pos?.comments.length || '0'}}</b>
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row pa-move">
            <span *ngIf="post?.comments.length > 0"><b>{{pos?.comments.length || '0'}} comment(s)</b></span>
            <div class="w-100"></div>
            <span>{{pos?.caption}}</span>
            <div class="w-100"></div>&nbsp;<br>
            <a style="color: blue;cursor: pointer" *ngIf="pos?.comments.length > 0"
                (click)="toggleDisplay()">view comments</a>
        </div><br>
        <div *ngIf="isShow">
            <div class="row pa-move" *ngFor="let comment of pos.comments">
                <div class="col-md-1">
                    <img *ngIf="comment.user.profile.profile_image !== null"
                        src="{{comment.user.profile.profile_image}}" alt="" class="avs">
                    <img *ngIf="comment.user.profile.profile_image === null" src="assets/img/default-avatar.png"
                        alt="" class="avs">
                </div>
                <div class="col-md-11">
                    <div class="row">
                        <span><b>{{comment.user.fullname}}</b></span>
                        <div class="w-100"></div>
                        <span>{{comment.message}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-danger" (click)="delete(post.id)">Delete</button>
    </div>
</div>
  </ng-template>