<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container  pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">

          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <img src="assets/img/brand/red.png" /><br>
              <small>Sign in with Admin credentials</small>

            </div>
            <form role="form" [formGroup]="loginForm">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" formControlName="email" placeholder="Email" type="email">
                </div>
                <p style="color: red;"
                  *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
                  Required Field
                </p>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" formControlName="password" placeholder="Password" type="password">
                </div>
                <p style="color: red;"
                  *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')">
                  Field required and must have at least 5 characters
                </p>
                <div class="col-6">
                  <a class="text-light"><small>Forgot password?</small></a>
                </div>
              </div>

              <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                <label class="custom-control-label" for=" customCheckLogin">
                  <span class="text-muted">Remember me</span>
                </label>
              </div>
              <div class="text-center">
                <button type="button" [disabled]="!loginForm.valid" (click)="signIn()" class="btn btn-default my-4">
                <span *ngIf="this.isLoading" class="spinner-border spinner-border-sm" role="status"></span>
            <span *ngIf="this.isLoading" class="load-text"> Loading...</span>
            <span *ngIf="!this.isLoading" class="btn-text">Sign In</span>
          </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->