
<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats of all action -->
      <div class="row">
        <!-- User Card -->
        <div class="col-xl-4 col-lg-6">
          <div   class="card card-stats mb-4 mb-xl-0">
            <div class="card-body" [routerLink]="['/users']">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Users</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldash?.users}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-default text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Competition card -->
        <div   class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body" [routerLink]="['/competions']">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Competition</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldash?.competitions}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-default text-white rounded-circle shadow">
                    <i class="ni ni-trophy"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- web Card -->
        <div   class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">CRAFT</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldash?.crafts}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-default text-white rounded-circle shadow">
                    <i class="ni ni-briefcase-24"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


      </div><br><br>

      <div class="row">
        <!-- Competitors card -->
        <div   class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">ANDROID PLATFORM</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldash?.android}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-default text-white rounded-circle shadow">
                    <i class="ni ni-paper-diploma"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- web Card -->
        <div   class="col-xl-4 col-lg-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">WEB PLATFORM</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldash?.web}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-default text-white rounded-circle shadow">
                    <i class="ni ni-briefcase-24"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- votes card -->
        <div   class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">IOS PLATFORM</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldash?.ios}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-default text-white rounded-circle shadow">
                    <i class="ni ni-diamond"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
<div   class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card  shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-default mb-0">COMPETITION</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end ">
                <li class="nav-item mr-2 mr-md-0 " data-toggle="chart" data-target="#chart-sales">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3 bg-default"
                    data-toggle="tab" [routerLink]="['/competitions']">
                    <span class="d-none  d-md-block">See all</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div   class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Category</th>
                <th scope="col">Competion Name</th>
                <th scope="col">STAGE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let compet of competition">
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="{{compet.image_url}}" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>{{compet.category}}</td>
                <td>{{compet.title}}</td>
                <td>{{compet.phase}}</td>
              </tr>
            </tbody>
          </table>
        </div>



      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0">JUDGES</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales">
                  <a href="javascript:void(0)" class="nav-link py-2 px-3 bg-default"
                     data-toggle="tab" [routerLink]="['/judges']">
                    <span class="d-none d-md-block">See all</span>
                    <span class="d-md-none">M</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div   class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody *ngFor="let judge of judges">
              <tr *ngIf="judge?.user_type === 'JD'">
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" >
                      <img alt="Image placeholder" *ngIf="judge?.profile.profile_image !== null" src="{{judge?.profile.profile_image}}" class="rounded-circle">
                      <img alt="Image placeholder"*ngIf="judge?.profile.profile_image === null" src="assets/img/default-avatar.png" class="rounded-circle">
                    </a>
                  </div></td>
                <td>{{judge?.fullname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div   class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">USERS</h3>
            </div>
            <div class="col text-right">
              <a class="btn btn-sm btn-default" [routerLink]="['/users']">See all</a>
            </div>
          </div>
        </div>
        <div   class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Profile Image</th>
                  <th scope="col">User Name</th>
                  <th scope="col">User Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of allUsers">
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" >
                      <img alt="Image placeholder" *ngIf="user.profile.profile_image !== null" src="{{user.profile.profile_image}}" class="rounded-circle">
                      <img alt="Image placeholder"*ngIf="user.profile.profile_image === null" src="assets/img/default-avatar.png" class="rounded-circle">
                    </a>
                  </div></td>
                <td>{{user.fullname}}</td>
                <td>{{user.user_type}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">COMPETITORS</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-default" [routerLink]="['/competitors']">See all</a>
            </div>
          </div>
        </div>
        <div   class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th></th>
                  <th scope="col">Competitor Name</th>
              </tr>
            </thead>
            <tbody *ngFor="let comp of competitors">
              <tr *ngIf="comp?.user_type === 'CP'">
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip" >
                      <img alt="Image placeholder" *ngIf="comp?.profile.profile_image !== null" src="{{comp?.profile.profile_image}}" class="rounded-circle">
                      <img alt="Image placeholder"*ngIf="comp?.profile.profile_image === null" src="assets/img/default-avatar.png" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>{{comp?.fullname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>