<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats of all action -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
        </div>
        <!-- User Card -->
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Competitions</h5>
                  <span class="h2 font-weight-bold mb-0">{{alldash?.competitions}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="ni ni-trophy"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- user card end -->
        <div class="col-xl-3 col-lg-6">
        </div>
      </div>


    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Competions</h3>
            </div>
            <div class="col text-right">
              <a class="btn btn-sm btn-default text-white" (click)="openScrollableContent(longContent)">Add
                Competion</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Category</th>
                <th scope="col">Competion Name</th>
                <th scope="col">STAGE</th>
                <th scope="col">Number of Competitors</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let compet of competition">
                <td>
                  <div class="avatar-group">
                    <a href="javascript:void(0)" class="avatar avatar-sm" data-toggle="tooltip"
                      data-original-title="Ryan Tompson">
                      <img alt="Image placeholder" src="{{compet.image_url}}" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td>{{compet.category}}</td>
                <td>{{compet.title}}</td>
                <td>{{compet.phase}}</td>
                <td>{{compet.participants.length || '0'}}</td>
                <td>
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="v(compet.id);getCompetitionI(compet?.id);openViewContent(view)">View</a>
                      <a class="dropdown-item" (click)="edit(compet?.id);getCompetitionI(compet?.id);openEditContent(editModal)">Edit</a>
                      <a class="dropdown-item" (click)="openPrizeContent(prize);getCompetitionIDPrice(compet?.id)">Add Prize</a>
                      <a class="dropdown-item" (click)="getCompetitionID(compet?.id); openJudgeContent(judgesCome)">Add Judge</a>
                      <a class="dropdown-item" style="color: red;" (click)="delete(compet?.id)">Delete</a>
                    </div>
                </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- create new competion form -->
<ng-template #longContent let-modal>
  <div class="modal-header ">
    <h4 class="modal-title">Add New Competion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="competitionForm">
      <h6 class="heading-small text-muted mb-4">Competion information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-8">
            <div class="form-group">
              <!-- <img [src]="image_url" style="width: 250px;height: 200px;"> -->
              <input type="file" (change)="handleFileInput($event)"  #image_url accept="image/*">
            </div>
          </div>
        </div>
      </div>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-competition">Competition Name</label>
              <input type="text" id="input-competition" class="form-control form-control-alternative"
                placeholder="Competition Name" formControlName="title">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-competition">Category</label>
              <input type="text" id="input-competition" class="form-control form-control-alternative"
                placeholder="Competition Name" formControlName="category">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-form-fee">Form Fee</label>
              <input type="text" id="input-form-fee" class="form-control form-control-alternative"
                placeholder="form fee" formControlName="service_fees">
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <!-- Description -->
        <h6 class="heading-small text-muted mb-4">TEAMS AND CONDITIONS</h6>
        <div class="pl-lg-4">
          <div class="form-group">
            <!-- <label class="form-control-label" for="input-judge-3">Teams and Conditions</label> -->
            <textarea rows="4" class="form-control form-control-alternative" placeholder="Teams and Conditions"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="uploadLogo(); modal.dismiss(); competitionForm.reset()">Create Competition</button>
    <button type="button" class="btn btn-danger" (click)="modal.close(); competitionForm.reset()">Close</button>
  </div>
</ng-template>


<!-- prize modal -->
<ng-template #prize let-modal>
  <div class="modal-header ">
    <h4 class="modal-title">Add Competition Prize</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form [formGroup]="prizeForm">
    <div class="modal-body" >
      <!-- prize details -->
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-form-fee">Title</label>
              <input type="text" id="input-form-fee" class="form-control form-control-alternative"
                placeholder="title" formControlName="title">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-form-fee">Position</label>
              <select formControlName="position" class="form-control form-control-alternative">
                <option value="null">Select Position</option>
                <option value=1>1st</option>
                <option value=2>2nd</option>
                <option value=3>3rd</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-form-fee">Cash Price</label>
              <input type="number" id="input-form-fee" class="form-control form-control-alternative"
                placeholder="Cash Price" formControlName="cash_price">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-1-prize">Description</label>
              <textarea rows="3" type="text" id="input-1-prize" class="form-control form-control-alternative"
                placeholder="Description"formControlName="description" ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="addAward();modal.dismiss(); prizeForm.reset()">Add Prize</button>
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Close</button>
    </div>
  </form>

</ng-template>

<!-- add judge -->
<ng-template #judgesCome let-model>
  <div class="modal-header ">
    <h4 class="modal-title">Add Judge</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="judgesForm">
    <div class="modal-body">
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <!-- <label class="form-control-label" for="input-judge-1">Judge 1</label> -->
              <select formControlName="user_id" class="form-control form-control-alternative">
                <option value="null">Select Judge</option>
                <option *ngFor="let judge of judges" value="{{judge.id}}">{{ judge.fullname }}</option>
              </select>
            </div>
          </div>       
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="addJudge(); judgesForm.reset();modal.dismiss()">Add Judge</button>
      <button type="button" class="btn btn-danger" (click)="modal.dismiss();">Close</button>
    </div>
  </form>

</ng-template>

<!-- Edit competition form -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Competion</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form [formGroup]="competitionEditForm">
      <h6 class="heading-small text-muted mb-4">Competion information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-competition">Title</label>
              <input type="text" id="input-competition" class="form-control form-control-alternative"
                placeholder="Title" formControlName="title">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-competition">Category</label>
              <input type="text" id="input-competition" class="form-control form-control-alternative"
                placeholder="Category" formControlName="category">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-form-fee">Phase</label>
              <select formControlName="phase" class="form-control form-control-alternative">
                <option value="{{this.phase}}"></option>
                <option value="AUDITION">Audition</option>
                <option value="COMPETITION">Competition</option>
                <option value="RECAP">Recap</option>
                <option value="CLOSED">Closed</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-start-date">Current Stage</label>
              <input type="number" id="input-start-date" class="form-control form-control-alternative"
                placeholder="Current Stage" formControlName="current_stage">
            </div>
          </div>
        </div>
        
      </div>
      
      <hr class="my-4" />
      <!-- Description -->
      <h6 class="heading-small text-muted mb-4">TEAMS AND CONDITIONS</h6>
      <div class="pl-lg-4">
        <div class="form-group">
          <label class="form-control-label" for="input-judge-3">Teams and Conditions</label>
          <textarea rows="4" class="form-control form-control-alternative" placeholder="Teams and Conditions"
            formControlName="description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-default" (click)="editCompet()">Update</button>
  </div>

</ng-template>

<ng-template #view let-modal>
  <div *ngFor="let com of viewcompetition">
  <div class="modal-header">
    <a href="javascript:void(0)" style="padding-left: 32%;">
      <img alt="Image placeholder"
          *ngIf="com?.image_url !== null"
          src="{{com?.image_url}}" >
      <img alt="Image placeholder"
          *ngIf="com?.image_url === null"
          src="assets/img/default-avatar.png" >
  </a>&nbsp;&nbsp;      
  </div>
  <div class="modal-body">
    <div class="row" >
      <div class="col-md-12">
        <label class="form-control-label" for="input-form-fee" style="padding-left: 36%;">ABOUT COMPETITION</label><br>
        <span style="padding-left: 18%;">{{com?.description}}</span>
      </div>
    </div><br>
    <div class="row" style="padding-left: 18%;">
      <div class="col-md-6">
        <label class="form-control-label" for="input-form-fee">CATEGORY:</label>&nbsp;
        <span>{{com?.category}}</span>
      </div>
      <div class="col-md-6">
        <label class="form-control-label" for="input-form-fee">TITLE:</label>&nbsp;
        <span>{{com?.title}}</span>
      </div>
    </div>
    <div class="row" style="padding-left: 18%;">
      <div class="col-md-6">
        <label class="form-control-label" for="input-form-fee">CURRENT STAGE:</label>&nbsp;
        <span>{{com?.current_stage}}</span>
      </div>
      <div class="col-md-6">
        <label class="form-control-label" for="input-form-fee">PHASE:</label>&nbsp;
        <span>{{com?.phase}}</span>
      </div>
    </div>
    <div class="row" style="padding-left: 36%;">
      <div class="col-md-12">
        <label class="form-control-label" for="input-form-fee" >Service Fees:</label>&nbsp;
        <span>GH₵: {{com?.service_fees}}</span>
      </div>
    </div>
    <div class="card" >
      <div class="card-head" style="padding-left: 38%;">
        <label class="form-control-label" for="input-form-fee" >AWARDS</label>
      </div>

      <div class="card-body" >
        <div class="row" *ngFor="let award of com?.awards">
          <div class="col-md-4">
        <span >Postion: {{award?.position}}</span><br>
        <span >Title: {{award?.title}}</span><br>
        <span >Cash Price: GH₵:{{award?.cash_price}}</span><br>
        <span >Others: {{award?.description}}</span>
      </div>
      </div>
      </div>
    </div><br>
    
    <div class="card" >
      <div class="card-head" style="padding-left: 38%;">
        <label class="form-control-label" for="input-form-fee" >LIST OF JUDGES</label>
      </div>
      <div class="card-body" >
        <div  *ngFor="let jud of com?.judges">
        <span > {{jud?.user.fullname}}</span><br>
        <!-- <span *ngIf="com?.judges.length === 0"> There are no Judges in this competition</span> -->
      </div>
      </div>
    </div><br>
    <div class="card" >
      <div class="card-head" style="padding-left: 38%;">
        <label class="form-control-label" for="input-form-fee" >LIST OF COMPETITORS</label>
      </div>
      <div class="card-body" >
        <div  *ngFor="let part of com?.participants">
        <span > {{part?.user.fullname}}</span><br>
        <!-- <span >There are no competitors yet!</span><br> -->
      </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</div>

</ng-template>